{{#> main }}
	<h1 class="title">Authorized applications</h1>
	<h2 class="subtitle">These apps can authenticate users via OAuth 2 with user permission</h2>
	<section class="columns is-multiline">
		{{#each apps}}
			<div class="column is-one-third">
				<h1 class="title">{{this.name}}</h1>
				<p class="content">
					<ul>
						<li>UUID: <strong>{{this.uuid}}</strong></li>
						<li>Client ID: <strong>{{this.clientID}}</strong></li>
						<li>Client Secret: <strong>{{this.clientSecret}}</strong></li>
						<li>
							Allowed redirect URIs:
							<ul>
								{{#each this.redirectURIs}}
									<li>
										<span class="icon"><i class="fas fa-link"></i></span>
										{{this}}
									</li>
								{{/each}}
							</ul>
						</li>
						<li>Issued tokens: <strong>{{this.tokens}}</strong></li>
					</ul>
				</p>
				<br />
				<div class="field is-grouped is-grouped-centered is-multiline">
					<p class="control">
						<button class="button is-primary is-outlined rename" data-uuid="{{this.uuid}}" data-name="{{this.name}}">Rename</button>
					</p>
					<p class="control">
						<button class="button is-info is-outlined edit-redirects" data-uuid="{{this.uuid}}" data-uris="{{join this.redirectURIs}}">Edit redirect URIs</button>
					</p>
					<p class="control">
						<button class="button is-warning is-outlined regenerate-secret" data-uuid="{{this.uuid}}">Regenerate secret</button>
					</p>
					<p class="control">
						<button class="button is-danger is-outlined delete-app" data-uuid="{{this.uuid}}">Delete</button>
					</p>
				</div>
			</div>
		{{else}}
			<div class="column is-half is-offset-one-quarter has-text-centered">
				<p><em>No apps</em></p>
			</div>
		{{/each}}
	</section>

	<hr />

	<h1 class="title">Add an application</h1>
	<h2 class="subtitle">This allows an application to authenticate users via OAuth 2</h2>
	<section class="columns">
		<div class="column is-half is-offset-one-quarter">
			<div class="field">
				<label class="label" for="name">App name</label>
				<div class="control">
					<input class="input" type="text" id="name" placeholder="My awesome new app" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="redirect-uris">Redirect URIs (comma separated)</label>
				<div class="control">
					<input class="input" type="url" id="redirect-uris" placeholder="e.g. https://localhost:3000" />
				</div>
			</div>
			<br />
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-info is-outlined" id="add-application">Add application</button>
				</p>
			</div>
		</div>
	</section>

	<hr />

	<h1 class="title">OAuth Scopes</h1>
	<h2 class="subtitle">Additional information users must enter before they can authorize an app</h2>
	<section class="columns is-multiline">
		{{#each scopes}}
			<div class="column is-one-third">
				<h1 class="title"><code>{{this.name}}</code></h1>
				<p class="content">
					<ul>
						<li>Question: <strong>{{this.question}}</strong></li>
						<li>Type: <code>{{this.type}}</code></li>
						{{#if this.icon}}
							<li>
								Icon:
								<span class="icon"><i class="fas fa-{{this.icon}}"></i></span>
							(<code>{{this.icon}}</code>)
							</li>
						{{else}}
							<li><em>No icon set</em></li>
						{{/if}}
						{{#if this.validator.code}}
							<li>Validator: <code>{{this.validator.code}}</code></li>
							<li>Error message: <strong>{{this.validator.errorMessage}}</strong></li>
						{{else}}
							<li><em>No validator configured</em></li>
						{{/if}}
					</ul>
				</p>
				<br />
				<div class="field is-grouped is-grouped-centered is-multiline">
					<p class="control">
						<button class="button is-danger is-outlined delete-scope" data-uuid="{{this.name}}">Delete</button>
					</p>
				</div>
			</div>
		{{else}}
			<div class="column is-half is-offset-one-quarter has-text-centered">
				<p><em>No scopes</em></p>
			</div>
		{{/each}}
	</section>

	<hr />

	<h1 class="title">Add a scope</h1>
	<h2 class="subtitle">This allows an application to collect additional information from its users</h2>
	<section class="columns">
		<div class="column is-half is-offset-one-quarter">
			<div class="field">
				<label class="label" for="scope-name">Scope name (should be lowercase and cannot contain spaces or commas)</label>
				<div class="control">
					<input class="input" type="text" id="scope-name" placeholder="e.g. phone" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-question">Scope question</label>
				<div class="control">
					<input class="input" type="text" id="scope-question" placeholder="e.g. What's your phone number?" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-type">Input type (<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Form_<input>_types" target="_blank">see complete list</a>)</label>
				<div class="control">
					<input class="input" type="text" id="scope-type" value="text" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-icon">Icon (optional; <a href="https://fontawesome.com/icons?d=gallery&s=solid" target="_blank">see complete list</a>)</label>
				<div class="control">
					<input class="input" type="text" id="scope-icon" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-validator">Validation code (optional)</label>
				<div class="control">
					<textarea class="textarea" id="scope-validator" placeholder="e.g. value === &quot;correct answer&quot;"></textarea>
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-error-message">Validation error message (optional)</label>
				<div class="control">
					<input class="input" type="text" id="scope-error-message" />
				</div>
			</div>
			<br />
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-info is-outlined" id="add-scope">Add scope</button>
				</p>
			</div>
		</div>
	</section>

	<hr />

	<h1 class="title">Admins</h1>
	<h2 class="subtitle">The people who can access this page</h2>
	<section class="columns">
		<div class="column">
			<h1 class="title">Preconfigured</h1>
			<h2 class="subtitle">You can only change these in config.json or server environment variables</h2>
			<p>Email domains:</p>
			<ul>
				{{#each adminDomains}}
				<li>
					<span class="icon"><i class="fas fa-at"></i></span>
					<strong>{{this}}</strong>
				</li>
				{{else}}
				<li><em>None</em></li>
				{{/each}}
			</ul>
			<p>Specific emails:</p>
			<ul>
				{{#each admins}}
				<li>
					<span class="icon"><i class="fas fa-envelope"></i></span>
					<strong>{{this}}</strong>
				</li>
				{{else}}
				<li><em>None</em></li>
				{{/each}}
			</ul>
		</div>
		<div class="column">
			<h1 class="title">Current</h1>
			<h2 class="subtitle">Active users with admin privileges</h2>
			<ul>
				{{#each currentAdmins}}
				<li class="single-line-button">
					<span class="icon"><i class="fas fa-user-cog"></i></span>
					<strong>{{this.name}}</strong> ({{this.email}})
					{{#ifCond this.uuid ../uuid}}{{else}}
						<button class="button is-danger is-outlined delete-admin" data-email="{{this.email}}">Demote</button>
					{{/ifCond}}
				</li>
				{{/each}}
			</ul>
		</div>
		<div class="column">
			<h1 class="title">New</h1>
			<h2 class="subtitle">Promote an existing user to gain admin privileges</h2>
			<div class="field">
				<label class="label" for="admin-email">Email</label>
				<div class="control">
					<input class="input" type="email" id="admin-email" placeholder="george.p@burdell.com">
				</div>
			</div>
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-primary is-outlined" id="admin-promote">Promote</button>
				</p>
			</div>
		</div>
	</section>

{{/main}}
