{{#> main }}
	<section class="columns" id="step1">
		<div class="column is-half is-offset-one-quarter">
			<h1 class="title">Hello, {{user.name}}!</h1>
			<p>You're logged in! Get the full details below:</p>
			<p class="content">
				<ul>
					<li>Name: <strong>{{user.name}}</strong></li>
					<li>Email: <strong>{{user.email}}</strong></li>
					<li>UUID: <strong>{{user.uuid}}</strong></li>
					<li>Login method: <strong>{{loginMethod}}</strong></li>
				</ul>
			</p>

			<br />
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<a class="button is-medium" href="/logout">Log out</a>
				</p>
			</div>
		</div>
	</section>
{{/main}}
